body {
	margin:0;
	padding:0;
	text-align:center;
    background-color: #FFFFFF;
	height: 100%;
}


	#slider-wrapper{
		margin-left: 30px;
		text-align: center;
	}

	#dots{
		cursor: default;
		background: #EDEDEE;
	}

	ul{
		padding: 0;
		margin: 0;
	}
	
	/*Bolinhas de movimento*/
	#dots li{
		display: inline-block;
			*display: inline;
			zoom: 1.0;
		background: #61676D;
		width: 10px;
		height: 10px;
		border-radius: 8px;
		margin: 0 2px;
		cursor: pointer;
	}

	#dots li.active, #dots li:hover{
		background: #c4c9cf;
	}

	#image-slider{
		width: 720px;
		height: 350px;
		position: relative;
		margin-top: 0px;
		overflow: hidden;
		display: inline-block;
			*display: inline;
			zoom: 1.0;
	}

	#image-slider ul{
		width: 720px;
		height: 350px;
		position: relative;
	}
	#image-slider ul li{
		display: inline-block;
			*display: inline;
			zoom: 1.0;
		position: absolute;
		top: 0;
		left: -720px;
	}

	#image-slider ul li.active-img{
		left: 0;
	}
	.next-img{
		z-index: 9999;
	}

/* Slider de antes e depois
----------------------------------------------------------------------------------------------*/
@-webkit-keyframes moveCrop{
  20% {
    clip: rect(0, 375px, auto, 0);
  }
  50% {
    clip: rect(0, 375px, auto, 0);
  }
  100% {
    clip: rect(0, 375px, auto, 0);
  }
}

.before-after-slider {
  position: absolute;
  width: 750px;
}

#moving-image {
  clip: rect(auto, 375px, auto, auto);
  position: absolute;
}

.loaded-moving-image {
    -webkit-animation: moveCrop 3s 1;
    animation: moveCrop 3s 1;
}



/* Slider de fotos apenas
----------------------------------------------------------------------------------------------*/
#slider-wrapper{
			width: 720px;
			height: 350px;
			margin: 50px auto;
			position: absolute;
			margin-left: 30px;
			background: rgba(0,0,0,0.5);
			overflow: hidden;
		}
		
		.commmonS{
				
					padding: 6px;
					background: #FFFFFF;
					position: absolute;
					left: 50%;
					bottom: 25px;
					border-radius: 20px;
					opacity: 0.5;
					cursor: pointer;
					z-index: 999;
				}
		
				#s1{margin-left: -36px;}
				#s2{margin-left: -12px;}
				#s3{margin-left: 12px;}
				#s4{margin-left: 36px;}
				#s5{margin-left: 60px;}
				#s6{margin-left: 84px;}
				
				#s1:hover, #s2:hover, #s3:hover, #s4:hover  , #s5:hover , #s6:hover { opacity: 1;}
				
		.inner-wrapper{
				width: 720px;
				height: 350px;
				position: absolute;
				top: 0;
				left: 0;
				margin-bottom: 0px;
				overflow: hidden;
		}
		.control{ display: none;}
			
				#Slide1:checked ~ .overflow-wrapper{ margin-left: 0%; }
				#Slide2:checked ~ .overflow-wrapper{ margin-left: -100%; }
				#Slide3:checked ~ .overflow-wrapper{ margin-left: -200%; }
				#Slide4:checked ~ .overflow-wrapper{ margin-left: -300%; }
				#Slide5:checked ~ .overflow-wrapper{ margin-left: -400%; }
				#Slide6:checked ~ .overflow-wrapper{ margin-left: -500%; }
				
				#Slide1:checked + #s1,
				#Slide2:checked + #s2,
				#Slide3:checked + #s3,
				#Slide4:checked + #s4,
				#Slide5:checked + #s5,
				#Slide6:checked + #s6 { opacity: 1; }
				
		.overflow-wrapper{
				width: 400%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				overflow-y: hidden;
				z-index: 1;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}
			
		.slide img{width: 25%}



/* Slider de fotos e texto
----------------------------------------------------------------------------------------------*/

ul.adaptive-slider {
  margin: 0 auto;
  padding: 0;
  width: 780px;
  height: 340px;
  position: relative;
  margin-top:40px;
}

ul.adaptive-slider li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*botões de próximo e anterior*/
ul.adaptive-slider li.slider-nav {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 3em;
  display: block;
  line-height: 340px;
  height: 340px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.4;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.3s, background-color 0.3s, color 0.3s;
  -moz-transition: opacity 0.3s, background-color 0.3s, color 0.3s;
  -o-transition: opacity 0.3s, background-color 0.3s, color 0.3s;
  transition: opacity 0.3s, background-color 0.3s, color 0.3s;
}

ul.adaptive-slider li.slider-nav:hover {
  opacity: 1;
}

ul.adaptive-slider li.slider-nav.next {
  right: 0;
}

ul.adaptive-slider li.slider-nav.prev {
  left: 0;
}

ul.adaptive-slider li.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

ul.adaptive-slider li.slider-item.active {
  opacity: 1;
}

ul.adaptive-slider li.slider-item figure {
  margin: 0;
  position: relative;
}

ul.adaptive-slider li.slider-item figure img {
  display: block;
  height: 340px;
  width:780px;
}

/*Configurações do texto de baixo do slider*/
ul.adaptive-slider li.slider-item figure figcaption {
  background-color: #fff;
  color: black;
  width: calc(100% - 120px);
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 60px;
  z-index: 1;
  max-height: 4.4em;
  overflow: hidden;

  -webkit-transition: max-height 1s;
  -webkit-transition-delay: 0.2s;
  -moz-transition: max-height 1s 0.2s;
  -o-transition: max-height 1s 0.2s;
  transition: max-height 1s 0.2s;
}

ul.adaptive-slider li.slider-item figure figcaption h1 {
  line-height: 3em;
  margin: 0;
  font-weight: 400;
  font-family:"humnst777 BT";
  color: #FFF;
}

ul.adaptive-slider li.slider-item figure figcaption h2 {
  line-height: 3em;
  margin: 0;
  font-weight: 400;
  font-family:"humnst777 BT";
  color: #000;
}

ul.adaptive-slider li.slider-item figure figcaption h3 {
  line-height: 3em;
  margin: 0;
  font-weight: 400;
  font-family:"humnst777 BT";
  color: red;
}

ul.adaptive-slider li.slider-item figure figcaption p {
  margin: 0;
  padding: 0 20px 20px 20px;
  display: block;
  overflow: hidden;
  text-align: justify;
  /*color: #000;*/
}

ul.adaptive-slider li.slider-item a{ 
	text-decoration:none; 
	color: #2A4D7A; 
}

ul.adaptive-slider li.slider-item figure figcaption:hover {
  max-height: 100%;
}



/* CABEÇALHO
----------------------------------------------------------------------------------------------*/

/* Imagem de fundo do cabeçalho*/
#fundocabecalho{
	height:90px;
    background: url("Imagens/fundomenu.png") bottom repeat-x;
}

/* Logo do cabeçalho*/
.logo img{
	width: 120px;
	height: 108px;
	margin-top: -80px;
	margin-left: 320px;
}

/* Classe de fonte padrão do cabeçalho*/
.cabecalho{
	font-family:"humnst777 BT";
	color: #FFF;
}

/* Primeiro texto do cabeçalho*/
#pri{
	font-size:19px;
	margin-top: -124px;
	margin-left: 50px;
	font-family:"humnst777 BT";
}

/* Segundo texto do cabeçalho*/
#sec{
	font-size:18px;
	margin-top: -42px;
	margin-left: 450px;
	font-family:"humnst777 BT";
}

/* Configurações do CAMPO BUSCAR */
.searchform div {
	height: 26px;
	width: 193px;
}

.searchboxwrapper {
	position: relative;
	margin-top: 50px;
	margin-left: 585px;
}

.searchbox {
	border: 1px solid #dadada;
	outline: none;
	font: 12px 'Montserrat', sans-serif;
	color: #777;
	width: 182px;
	height: 26px;
	background: #fff;
	padding-left: 10px;
	border-radius: 8px;
}

.searchsubmit {
	font-family: 'FontAwesome';
	width: 29px;
	height: 29px;
	border: 1px solid #dadada;
	font-size: 12px;
	position: absolute;
	top: 0;
	right: -2px;
	background: #dadada url("Imagens/search.png") no-repeat center;
	border-radius: 0px 8px 8px 0;
	color: #FAA954;
	cursor: pointer;
}

.searchsubmit {
	font-family: 'FontAwesome';
	width: 29px;
	height: 29px;
	border: 1px solid #dadada;
	font-size: 12px;
	position: absolute;
	top: 0;
	right: -2px;
	background: #dadada url("Imagens/search.png") no-repeat center;
	border-radius: 0px 8px 8px 0;
	color: #FAA954;
	cursor: pointer;
}


/*BOTÃO LOGIN
----------------------------------------------------------------------------------------------*/

.button {
  font-family:"humnst777 BT";
  margin-top: 34.5px;
  margin-left: 500px;
  display: inline-block;
  position: absolute;
  height: 0.5px;
  line-height: 1px;
  padding: 10px 10px;
  font-size: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  color: #A9ABAE;
  border: 2px solid;
  border-radius: 4px;
  outline: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  background: #FAFAFA;
  border-color: #255184 #244f80 #1e4068;
}


/* MENU
----------------------------------------------------------------------------------------------*/

/* Logo lateral do menu*/
.logo_lateral img{
	width: 110px;
	height: 50px;
	margin-top: 70px;
	margin-left: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Parâmetros gerais do menu*/
.menu {
  position:absolute;
  z-index: 9999;
  display: table;
  margin-top: -85px;
  margin-left: 120px;
}

.menu > li {
  display: inline-block;
  position: relative;
}

.menu > li:hover .sub {
  left: auto;
}

/* Link do menu */
.menu a {
  display: block;
  padding: 0.75em 1.0em;
  background: #FFF;
  font-family:"Verdana";
  font-size:14px;
  color: #A9ABAE;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease; /* Faz o efeito de transição ao passar o mouse por cima. */
}

/* Cor do menu ao colocar o mouse em cima */
.menu a:hover,
.menu a:focus {
  background: #2A4D7A;
  color: #fff;
}

/* Classe dos submenus */
.sub {
  position: absolute;
  width: 150%;
  left: -9999px;
  box-shadow:0px 1em 2em -1em rgba(0,0,0, 0.4),
			 inset 0 4em 10em #000;
}

.sub a {
  background: #E6E7E8;
  font-size: 14px;
  padding: .7em 1em;
  color:#2A4D7A;
}


/* CONTEÚDO
----------------------------------------------------------------------------------------------*/

/* Padrões básicos da página, como posição, tamanho e alinhamento*/
#pagina{
	position:relative;
	min-height: 100%;
	width: 800px;
	margin:0 auto;			
	text-align:left; /*consertando no IE*/
}

* html #pagina {
	height: 100%; /* hack para IE6 que trata height como min-height */
}

/* Margem do conteúdo perante a página*/
#conteudo {
	padding: 10px;
	padding-bottom: 50px;
}

/* Configurações básicas do slider */ 

/* Configurações do fundo do slider */
#featured{ 
	z-index: 100;
	position: relative; 
	margin-top: 40px;
	margin-left: 0px;
	border: 4px solid #E6E7E8; 
	height: 250px; 
	width: 770px; 
	overflow:hidden;
	background:#fff;
}

/* Configurações das informações laterais */
#featured ul.ui-tabs-nav{ 
	z-index: 101;
	position:absolute; 
	top:0; 
	left: 520px; 
	list-style:none; 
	padding:0; 
	margin:0; 
	width:250px; 
	height:250px;
	overflow:auto;
	overflow-x:hidden;
}

#featured ul.ui-tabs-nav li{ 
	padding:1px 0; 
	padding-left:10px;  
}

/* Configurações das imagens laterais */
#featured ul.ui-tabs-nav li img{ 
	float:left; 
	margin:2px 5px; 
	background: #2A4D7A; 
	padding:2px; 
	border: 1px solid #eee;
}

/* Configurações dos textos laterais */
#featured ul.ui-tabs-nav li span{ 
	font-size:11px;
	padding-right: 5px;	
	font-family:humnst777 BT; 
	line-height:18px; 
}

#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:60px; 
	text-decoration:none;
	color:#333;  
	background:#fff; 
	line-height:20px; 
	outline:none;
}

#featured li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
}

#featured ul.ui-tabs-nav li.ui-tabs-selected a, #featured ul.ui-tabs-nav li.ui-tabs-active a{ 
	background:#ccc; 
}

/* Configurações do painel de imagem */
#featured .ui-tabs-panel{ 
	width:530px; 
	height:250px; 
	background:#999; 
	position:relative;
}

#featured .ui-tabs-panel .info{ 
	position:absolute; 
	bottom:0; 
	left:0; 
	height:70px;
	width: 530px;
	background: url("../Imagens/fundo-slider.png") ; 
}

/* Configurações dos textos do painel */

#featured .ui-tabs-panel .info a.hideshow{
	position:absolute; 
	font-size:11px; 
	font-family:Verdana; 
	color:#f0f0f0; 
	right:10px; 
	top:-20px; 
	line-height:20px; 
	margin:0; 
	outline:none; 
	background:#333;

}

#featured .info h2{ 
	font-size:1.2em; 
	font-family: humnst777 BT; 
	color:#fff;
	padding:5px;
	margin:0; 
	font-weight:normal;
	overflow:hidden; 
}

#featured .info p{ 
	margin:0 5px; 
	font-family: humnst777 BT;
	font-size:11px; 
	line-height:15px; 
	color:#f0f0f0;
}

#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}

#featured .info a:hover{ 
	text-decoration:underline; 
}

#featured .ui-tabs-hide{ 
	display:none; 
}


/* Não coloca objetos flutuantes em nenhum dos lados do objeto de destino*/
.clear {
	clear: both;
}

/* Configuração dos blocos de texto no final da página */
.flexwrapperpri > section {
	width: 460px;
	height: 500px;
	margin-top: 30px;
	margin-left: 0px;
	border-radius: 6px;
}

.flexwrappersec > section {
	width: 310px;
	height: 500px;
	margin-top: -500px;
	margin-left: 470px;
	border-radius: 6px;
}

.flexwrapperterc > section {
	width: 780px;
	margin-top: 40px;
	margin-left: 0px;
	border-radius: 6px;
}

/*Definição da cor de fundo dos blocos de textos*/
.flexwrapperpri > section:nth-child(1) {
	background: #EDEDEE;
}

.flexwrappersec > section:nth-child(1) { 
	background: #EDEDEE; 
}

.flexwrapperterc > section:nth-child(1) {
	background: #EDEDEE;
}

/* Configuração dos cabeçalhos e parágrafos dos blocos de textos */
.flexwrapperpri h1{
	position: absolute;
	font-size:16px;
	margin-top: 15px;
	margin-left: 45px;
	font-family:"humnst777 BT";
	color: #333;
}

.flexwrapperpri p{
	position: absolute;
	width: 430px;
	font-size: 14px;
	text-align: justify;
	margin-top: 50px;
	margin-left: 15px;
	line-height: 200%;
	font-family:"Verdana";
	color: #555; 
}

.flexwrapperpri a{ 
	text-decoration:none;
	color: #2A4D7A; 
}

.flexwrapperpri a:hover{ 
	text-decoration:underline; 
}

.flexwrapperpri img{
	width: 430px;
	height: 300px;
	float: left;
	/*border: solid 5px #1B3C67;*/
	padding-bottom: 20px;
}

.flexwrappersec h1{
	position: absolute;
	font-size:16px;
	margin-top: 15px;
	margin-left: 110px;
	font-family:"humnst777 BT";
	color: #333;
}

.flexwrappersec h2 {
	display: block;
	padding: 5px;
	background: rgba(255, 255, 255, 0.5);
	border: solid 1px #1B3C67;
	width: 280px;
	height: 60px;
	position: absolute;
	font-size:12px;
	margin-top: 50px;
	margin-left: 9px;
	font-family:"humnst777 BT";
}

.flexwrappersec h3{
	display: block;
	padding: 5px;
	background: rgba(255, 255, 255, 0.5);
	border: solid 1px #1B3C67;
	width: 280px;
	height: 275px;
	position: absolute;
	font-size: 12px;
	margin-top: 125px;
	margin-left: 9px;
	font-family: "humnst777 BT";
}

.flexwrappersec h4{
	display: block;
	padding: 5px;
	background: rgba(255, 255, 255, 0.5);
	border: solid 1px #1B3C67;
	width: 280px;
	height: 60px;
	position: absolute;
	font-size: 12px;
	margin-top: 415px;
	margin-left: 9px;
	font-family: "humnst777 BT";
}

.flexwrappersec p{
	position: absolute;
	width: 290px;
	font-size: 14px;
	text-align: left;
	margin-left: 10px;
	margin-top: 70px;
	font-family:"Verdana";
	color: #555; 
	padding: 5px;
	line-height: 137%;
}

.flexwrapperterc h1{
	font-size:18px;
	margin-top: 15px;
	padding-top: 30px;
	font-family:"humnst777 BT";
	color: #274FA1;
}

.flexwrapperterc h2{
	position: absolute;
	width: 750px;
	font-size: 14px;
	text-align: justify;
	margin-left: 15px;
	line-height:400%;
	font-family:"humnst777 BT";
	color: #555; 
}

.flexwrapperterc p{
	position: absolute;
	width: 750px;
	font-size: 14px;
	text-align: justify;
	margin-left: 15px;
	line-height:200%;
	font-family:"Verdana";
	color: #555; 
}


.flexwrapperterc a{ 
	text-decoration:none; 
	color: #2A4D7A; 
}

.flexwrapperterc a:hover{ 
	text-decoration:underline; 
}

.flexwrapperterc img{
	float: left;
	padding-bottom: 10px;
}

#img_twitter{
	position: absolute;
	margin-left: 130px;
	margin-top: 440px;
	border-radius: 17px;
	border-color: rgba(255, 255, 255, 0.5);
}

#img_facebook{
	position: absolute;
	margin-left: 220px;
	margin-top: 440px;
	border-radius: 17px;
	border-color: rgba(255, 255, 255, 0.5);
}

/*Link do bloco*/
.flexwrappersec a{ 
	text-decoration:none; 
	color: #333; 
}

.flexwrappersec a:hover{ 
	text-decoration: underline; 
}

/* Configurações do mapa do Google */
#map-canvas{
	position: absolute;
	border: solid 1px #1B3C67;
}

/*Tabela*/
	table {
		border-collapse: separate;
		border-spacing: 3px;
	}
	
	table p {
		margin-bottom: 0;
	}
	
	.contenttable caption {
		color: gray;
		font-weight: bold;
		text-align: left;
	}
	
	td {
		background: none repeat scroll 0 0 #fff;
		padding: 0.5em;
	}
	
	thead th, tbody th {
		background: none repeat scroll 0 0 #244673;
		color: #fff;
		padding: 0.5em;
		text-align: center;
	}
	

/* RODAPÉ
----------------------------------------------------------------------------------------------*/
#fundorodape{
	/*position: absolute;
	bottom: 0;*/
	height:70px;
	background: url('Imagens/fundorodape.png') repeat-x;
}

#fundorodape p {
	margin:0px;
	padding-top: 20px;
	font-size: 14px;
	font-family:"humnst777 BT";
	color:#fff;
}

/*FORMULÁRIO DE LOGIN
----------------------------------------------------------------------------------------------*/

.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-top: 20px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 45%; display:block; }

.login { 
	position: absolute;
	width:300px;
	height:0px;
}

/*Caixa de texto*/
.caixa { 
	width: 280px;
	margin-bottom: 20px; 
	background: #F2F2F2;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: 000;
	font-family:"humnst777 BT";
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
